*{
    margin:0;
    padding:0;
}

.html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    background-color: rgb(11, 11, 11);
        
}

.logo{
    width: 10%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-right: 330px;
    padding-top: 10px;
    
}

.logo img{
    width: 40%;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 80px;
}

.nav-list{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-right: 200px;
}

.nav-list li{
    list-style: none;
    padding: 15px 15px;
}


.nav-list li :hover{
    color: #393939;
    
}

.nav-list li a{
    text-decoration: none;
    color: aliceblue;
    padding-right: 30px;
}

.background{
    background: #141415 url("img/homebg.jpg");
    background-size: cover;
    
}

.main{
    height: 100vh;
    
}

.firsthalf{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    padding-top: 150px;
    
}

.bigtext{
    font-size: 60px;
    animation: moveDown 3s ease-in-out forwards;
    opacity: 0;
    
}

.smalltext{
    font-size: 27px;
    padding-top: 20px;
    animation: moveDown 3s ease-in-out forwards;
    opacity: 0;
}

.background2{
    background-image:url(img/featuredbg.jpg);
    background-size :cover;
}

.main2{
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    max-width: 50%;
    
}

.firsthalf2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(219, 219, 219);
    margin-left: -700px;
    padding-top: 80px;
    padding-right: 100px;
}

.heading{
    padding-left: 140px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    padding-bottom: 550px;
    
}

.bigtext2{
    font-size: 60px;
}

.smalltext2{
    font-size: 27px;
    padding-top: 20px;
}

.half{
    width: 0%;
    padding-left: 437px;
    align-items: center;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px
    
}

.des{
    padding-left: 200px;
    align-items: center;
    display: flex;
    justify-content: right;
}

.background3{
    height: 100vh;
    background-image: linear-gradient(#44A08D,#093637);
}

.container{
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.col-sm-4{
    width: 30%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 27px;
    float: left;
    padding-top: 60px;
    
}

.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    box-sizing: inherit;
    
}
.panel-primary{
    border-color: #141415;
    color: #fff;
    background-color: rgb(11, 11, 11);
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.panel-heading{
    padding: 5px 65px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.panel-body{
    padding: 15px;
    width: 90%;
    
}
.imgpro{
    width: 100%;
    
}

.contents{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 15px;
}

.ri-bluetooth-line{
    color: rgb(0, 102, 255);
    padding-left: 10px;
    
}



.ri-battery-2-charge-fill{
    color: rgb(0, 102, 255);
}

.container2{
   height: 100px;
   margin-top: 60px;
   padding-left: 95px;
}

.button{
   text-decoration: none;
   color:  #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   border-radius: 10px;
}
.button :hover{
    background-color: #fff;
    color: rgb(0, 0, 48);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
}

.ri-shopping-bag-fill{
    position: absolute;
    transition: 0.9s;
}
   
.ri-plug-fill{
    padding-left: 10px;
    color: rgb(0, 102, 255);
}

.ri-mic-fill{
    color: rgb(0, 102, 255);
}
.ri-rhythm-line{
    color:rgb(0, 102, 255) ;
}

.background4{
    background-image: url(img/aboutusbg.jpg);
    background-size: cover;
    
}

.main3{
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 45%;
}

.bgtxt{
    font-size: 40px;
    padding-right: 96px;
    padding-left: 180px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    padding-top: 20px;
}

.smtxt{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
    
}

.background5{
   text-align: center;
   background-color: #c3c3c3;
   padding-bottom: 30px;
}

.contactheading{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #777cb0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.section{
    height: 70vh;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
    background-image: url(../Infiniteheadphones/img/contactbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background: linear-gradient(145deg, #b9c0ff, #9ca1e6);
    box-shadow:  5px 5px 7px #777cb0,
             -5px -5px 7px #e3eaff;*/
    
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.contactcontainer{
    display:table-caption;
    margin: 40px;
}

.contactform{
    padding-top: 5px;
    font-family:'Montserrat', sans-serif;
    color: #777cb0;
    border: 2px slategray solid;
    border-radius: 20px;
    box-shadow: 5px 5px 7px grey;
             
}

.name{
    height: 20px;
    margin: 20px;
    width: 200px;
    border: slategray 2px solid;
    border-radius: 5px;
}

.name1{
    font-size: 25px;
}

.email1{
    font-size: 25px;
}

.message1{
    font-size: 25px;
}

.email{
    height: 20px;
    margin: 20px;
    width: 200px;
    border: slategray 2px solid;
    border-radius: 5px;
}

.message{
    height: 60px;
    margin: 20px;
    width: 200px;
    border: slategray 2px solid;
    border-radius: 5px;
}

.contact-button{
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    border: 2px slategray solid;
    border-radius: 10px;
    color: #3b3e5a;
}

.contact-button:hover{
    background-color: #777cb0;
    color: white;
    transition: 0.8s;
}

.footer{
    height: 27vh;
    display: flex;
    justify-content: center;
    background-color: #000000;
}


.footer .row{
    display: inline-flex;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.col-sm-6{
    padding-top: 30px;
    padding-left: 20px;
}
.col-sm-6 img{
    width: 40px;
    padding-left: 100px;
    padding-top: 20px;
    cursor: pointer;
}

.storelinks{
    padding-right: 300px;
}

.followlinks{
    padding-left: 90px;
}

.links{
    list-style: none;
    padding-top: 20px;
    display: flex;
    cursor: pointer;
}

.copyright{
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.ri-copyright-line{
    color: aliceblue;
    padding-right: 10px;
}

.insta{
    padding-right: 10px;
}

.fb{
    padding-right: 10px;
}

.twi{
    padding-right: 10px;
}

.ri-instagram-fill{
    padding-right: 10px;
}

.ri-facebook-box-fill{
    padding-right: 10px;
}

@keyframes moveDown{
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}